---
import 'simple-notify/dist/simple-notify.css';
import Header from "@/components/admin/Header.astro";
import Breadcrumb from "@components/admin/Breadcrumb.astro"
import Sidebar from "@/components/admin/Sidebar.astro";


const {title, lang = 'es', codec = 'UTF-8'} = Astro.props

interface Props {
  title?: string;
  lang?: string
  codec?: string
}

---
<!DOCTYPE html>
<html lang={lang}>
<head>
  <meta charset={codec}>
  <title>{title}</title>
  <!-- CSS Preline -->
  <link rel="stylesheet" href="/src/assets/styles/preline-main.min.css">
  <script is:inline>
    if (
      localStorage.getItem("hs_theme") === "dark" ||
      (!("|" in localStorage) &&
        window.matchMedia("(prefers-color-scheme: dark)").matches)
    ) {
      document.documentElement.classList.add("dark");
    } else {
      document.documentElement.classList.remove("dark");
    }
  </script>
  <script>
    import 'preline/preline';
    import "@scripts/lenisSmoothScroll.js";
  </script>
</head>

<body class="bg-neutral-200 selection:bg-yellow-400 selection:text-neutral-700 dark:bg-neutral-800">
  
  <Header></Header>
  <Breadcrumb></Breadcrumb>
  <Sidebar></Sidebar>

  <!-- Main Content -->
  <main class="w-full lg:ps-64">
    <!-- <div class="p-4 sm:p-6 space-y-4 sm:space-y-6"></div> -->
    <div class="p-4 sm:p-6 space-y-4 sm:space-y-6">
      <slot />
    </div>
  </main>
  <!-- End Main Content -->
</body>
</html>