---
import AdminLayout from "@/layouts/AdminLayout.astro";
import { authMiddleware } from '@middlewares/auth.ts';

const response = await authMiddleware(Astro, () => {
  return Promise.resolve(new Response());
});

if (response.status === 401) {
  return Astro.redirect('/');
}
---

<AdminLayout title="Dashboard">
    <h1 class="text-center mt-10 dark:text-neutral-200">Dasboard</h1>
</AdminLayout>
  