---
import AdminLayout from "@/layouts/AdminLayout.astro";
export const prerender = false;
---


<AdminLayout title="Posible clients">
    <h1 class="text-center mt-10 dark:text-neutral-200">Potenciales clientes</h1>
</AdminLayout>