---
import AdminLayout from "@/layouts/AdminLayout.astro"
export const prerender = false;
---


<AdminLayout title="Productos">
    <h1 class="text-center mt-10 dark:text-neutral-200">Productos</h1>
</AdminLayout>