---
const {id, name, selectFileText, noFileSelectDefaultText = 'No hay archivos seleccionados'} = Astro.props;

interface Props {
  id: string,
  name: string,
  selectFileText: string,
  noFileSelectDefaultText?: string
}
---

<div id="uploadFile" data-hs-file-upload='{
  "url": "/",
  "maxFiles": 1,
  "singleton": true
}'>
  <template data-hs-file-upload-preview="">
    <div class="flex items-center w-full">
      <span class="grow-0 overflow-hidden truncate" data-hs-file-upload-file-name=""></span>
      <span class="grow-0">.</span>
      <span class="grow-0" data-hs-file-upload-file-ext=""></span>
    </div>
  </template>

  <button type="button" 
    class="relative flex w-full border overflow-hidden border-gray-200 shadow-sm rounded-lg text-sm focus:outline-none focus:z-10 focus:border-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:focus:border-neutral-600">
    <span class="h-full py-3 px-4 bg-gray-100 text-nowrap dark:bg-neutral-800">{selectFileText}</span>
    <span class="group grow flex overflow-hidden h-full py-3 px-4" data-hs-file-upload-previews="">
      <span class="group-has-[div]:hidden">{noFileSelectDefaultText}</span>
    </span>
    <span class="absolute top-0 left-0 w-full h-full" data-hs-file-upload-trigger=""></span>
  </button>
</div>


